:root {
    --primery-color: #f85828;
    --white-color: #fff;
    --black--color: #000;
    --text-color: #333;

    --header-height: 120px;
    --navbar-height: 40px;
    --header-with-search-height: calc(
        var(--header-height) - var(--navbar-height)
    );
    --header__sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.3;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
